body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:760px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:409px;
  top:70px;
  width:241px;
  height:55px;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:55px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:170px;
  top:240px;
  width:100px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:680px;
  top:240px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:340px;
  top:240px;
  width:100px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:520px;
  top:240px;
  width:100px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:179px;
  top:365px;
  width:82px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:349px;
  top:365px;
  width:82px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:689px;
  top:365px;
  width:82px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:529px;
  top:365px;
  width:82px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:830px;
  top:240px;
  width:100px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:840px;
  top:365px;
  width:81px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
