body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-250px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:266px;
  top:180px;
  width:584px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:290px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:367px;
  top:69px;
  width:50px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:707px;
  top:69px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:487px;
  top:69px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:597px;
  top:69px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:352px;
  top:134px;
  width:80px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:472px;
  top:134px;
  width:80px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:692px;
  top:134px;
  width:80px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:582px;
  top:134px;
  width:80px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:255px;
  top:69px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:250px;
  top:136px;
  width:60px;
  height:15px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:810px;
  top:69px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:810px;
  top:137px;
  width:60px;
  height:15px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
